@charset "utf-8";
/* CSS Document */


body{
	margin: 0;
	padding: 0;
	font-family: "Arial", cursive;
	background-color: #FFFFFF;
	text-align:center;
}
#page{
	width: 1455px;	
	margin: 0 auto;
	
}
header {
	background-color: #DBDAD8;
	font-family: "Arial", cursive;
	text-align: center;
	padding: 10px;
	height: 206px;
	color: #fffff;
	font-stretch:narrower;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);  
}

ul {
	list-style-type: none;		
	padding: 0;
	position: absolute;
	
}
li {
	display: inline-block;
	float: left;
	text-align: center;
}
ul li a {
	display: block;
	min-width: 291px;  
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #82CAFA;
	text-decoration: none; 
	box-shadow: 0 0 12px rgba(0,0,0,0.4);  
	
}
li.fake {
	min-width: 291px;  
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #82CAFA;
	text-decoration: none; 
	box-shadow: 0 0 12px rgba(0,0,0,0.4);  
	
}
ul li:hover a {
	background: #DBDAD8;
	opacity: 1;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);  
	
}
ul li:hover ul a {
	background: #DBDAD8;
	color: #FFFFFF;
	height: 40px;
	line-height: 40px;
	opacity: 1;
	
}
ul li:hover ul a:hover {
	background: #82CAFA;
	color: #fff;
	opacity: 1;	
}
li ul {
	display: block;
	
}
li ul li {
	display: block;
	float: none;
	
}
li ul li a {
	padding: 0 20px;
	opacity: 0;
	min-width: 250px; 
    
	
	
	
}
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}


marquee {
	color: gray;
	border-bottom: normal;
	border-top: normal;
	border-color: #DBDAD8;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
	font-family: "Arial", cursive;
}
#container {
	width: auto; 
	height: 780px;
	background-color:#DBDAD8;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px;
	border-top: 1px;
	overflow: auto;
	padding: 10 px;
	color: #FFCC7F;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
	
	
}
#container div {
	background-color:#FFF;
	
	
}
#gallery {
		background-color:#FFF;
	padding: 5px;
	margin:30px;
		height: 700px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);  
	

} 
#gallery div{
	float:left;
	
}
#something {
	margin: 25px;
}


#gallery1 {
	background-color:#FFF;
	padding:5px;
	margin-right: 20px;
	width:305px;
	height:210px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);  
}
#gallery2 {
	background-color:#FFF;
	padding:5px;
	margin-right: 20px;
	width:305px;
	height:210px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
	
}
#gallery3 {
	background-color:#FFF;
	padding:5px;
	margin-right: 20px;
	
	
	width:305px;
	height:210px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
}
#gallery4 {
	background-color:#FFF;
	padding:5px;
	
	width:305px;
	height:210px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
}

#gallery5 {
	background-color:#FFF;
	padding:5px;
	margin-top: 20px;
	width:305px;
	margin-right: 20px;
	height:210px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
}

#gallery6 {
	background-color:#FFF;
	padding:5px;
	margin-right: 15px;
	margin-top: 20px;
	width:205px;
	height:310px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
	margin-left:48px;
}
#menu {
	width: 1455px;	
	margin: 0 auto;
}

















/*слайдшоу*/
#slideshow { 
   
   
    position: relative; 
    width: 1435px; 
    height: 320px; 
    padding: 10px;           
    box-shadow: 0 0 12px rgba(0,0,0,0.4); 
    z-index:-1;
}

#slideshow > div { 
    position: absolute; 
    top: 8px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
    z-index: -1;
}

#footer {
	background-color: #82CAFA;
	font-family: "Comic Sans MS", cursive;
	padding: 10px;	
	width: auto;
	color: #82CAFA;
	height: 65px;
	box-shadow: 0 0 12px rgba(0,0,0,0.4); 
	
}
#footer p{
	font-size: 14px; 
	color: white;
	text-align: left;
	padding: 2px;
}
#footer p{
	text-align: center;
	
}
#like{
	padding-left: 10px;
	color:#FFFFFF;
	margin-left: 150px;
	
	
}
#motto img {
	padding-left: 250px;
}

#profilktika p {
	float: right;
}
#menu {
	width: 1455px;	
	margin: 0 auto;
}

